<div class='double-spaced'>
  <strong class='embiggen'><%= data_file.name %></strong> <a href='#page_top' style='text-decoration: none;'>🔝</a><a id='<%= data_file.safe_name %>'></a>
  <div class='spaced'>
    <%= data_file.to_html %>
  </div>
</div>
