<div id='page-footer'>
  <div id='footer'>
    <a href='/in-the-kitchen' title='In The Kitchen'>🍉</a>
    • <a href='/expiring' title='Expiring'>📅</a>
    • <a href='/out-of-stock' title='Out of Stock'>📝</a>
    • <a href='/all-items' title='All Items'>📚</a>
    <% if Env.development? %>
      • <a href='/environment' title='Environment Variables'>📖</a>
    <% end %>
  </div>
</div>
