<div align='center'>
  <div id='footer' class='page-width dead-center'>
    <a href='/in-the-kitchen' title='In The Kitchen'>🍔</a>
    • 
    <a href='/expiring' title='Expiring'>📅</a>
    •
    <a href='/out-of-stock' title='Out of Stock'>📝</a>
    <% if Env.development? %>
      •
      <a href='/environment' title='Environment Variables'>📖</a>
    <% end %>
  </div>
</div>
