<div align='center'>
  <p>
    <img src="<%= @gif %>" alt="Hamburger" />
  </p>
  <p>
    Updating cached data...
  </p>
  <!-- Insert AJAX Call -->
  <!-- Redirect when AJAX call is finished -->
</div>
