<div style='margin-left: 1em; '>
  <table class='environment_variables' style=''>
    <tr>
      <td>&nbsp;</td>
      <td class='embiggen'><%= @site.header %></td>
    </tr>
    <% row_class = 'odd' %>
    <% ENV.each do |(key, value)| %>
      <%= erb :_env, locals: { key: key, value: value, row_class: row_class } %>
      <% row_class = (row_class == 'odd') ? 'even' : 'odd' %>
    <% end %>
  </table>
</div>
