<div style='margin-left: 1em; font-samily: Consolas, Courier New, Courier;'>
  <% ENV.each do |(key, value)| %>
    <%= "#{key}: #{value.gsub('<','&lt;').gsub('>','&gt;')}<br/>" %>
  <% end %>
</div>
