<div id='page'>
  <div id='header'>
    <h1 class='embiggen'>📅 Expiring 📅</h1>
  </div>
  <% if @data_files.any? %>
    <%= erb :_navigation, locals: { data_files: @data_files } %>
    <div id='content'>
      <% @data_files.each do |data_file| %>
        <a id='<%= data_file.safe_name %>'></a>
        <p>
        <%= erb :_data_file, locals: { data_file: data_file } %>
        </p>
      <% end %>
    </div>
  <% else %>
    <%= erb :_no_items, locals: { image: @site.gif,
                                  icon: @site.icon,
                                  type: @site.type
                                } %>
  <% end %>
</div>
