<div id='page'>
  <%= erb :_header, locals: { title: 'ðŸ“ Out of Stock ðŸ“' } %>
  <% if @data_files.any? %>
    <%= erb :_navigation, locals: { data_files: @data_files } %>
    <%= erb :_data_files, locals: { data_files: @data_files } %>
  <% else %>
    <%= erb :_no_items, locals: { image: @site.gif,
                                  icon: @site.icon,
                                  type: @site.type
                                } %>
  <% end %>
</div>
