div, p, span, a {
  font-family: Arial;
  font-size: 16pt;
}

h1.embiggen {
  font-size: 24pt;
}

b.embiggen {
  font-size: 20pt;
}

#page, #page-footer {
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}

#header, #center {
  width: 100%;
  text-align: center;
}

#navigation, #content {
  width: 100%;
  text-align: left;
}

#footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#footer a {
  font-size: 24pt !important;
  text-decoration: none !important;
}

a {
  color: black;
}

div.double-spaced {
  padding-top: 20px;
}

div.spaced {
  padding-top: 10px;
}

ol {
  margin: 0;
}

.unexpired {
  color: green;
}

.expiring {
  color: #ffd800; /* School Bus Yellow */
}

.expired {
  color: crimson;
}
